*.o
*~
*.mod
lib
lo
losub-lapack.F
losub-lapack-minimizer-eigen.F
losub-lapack-minimizer.F
lo6*
build*
BUILD*
bin
*-master*
test
TEST
tmp
.kate*
userManual.aux
userManual.bbl
userManual.blg
userManual.log
userManual.out
userManual.pdf
userManual.synctex.gz
userManual.tex.backup
userManual.toc

